name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: Test and Build APK
    uses: ./.github/workflows/build-android.yml
    with:
      upload-artifact: true
    secrets:
      STOREFILE: ${{ secrets.STOREFILE }}
      STOREPASSWORD: ${{ secrets.STOREPASSWORD }}
      KEYPASSWORD: ${{ secrets.KEYPASSWORD }}
      KEYALIAS: ${{ secrets.KEYALIAS }}
